.container-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding-right: 20px;
}

.content-header img {
    width: 100%;
    max-width: 300px;
    height: 300px; 
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 5px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
}

.buttons button:hover {
    background-color: #0056b3;
}

.divider {
    width: 2px;
    background-color: #cccccc;
    margin: 0 20px;
}

.content-body {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.content-header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #a7680b;
    text-align: center;
}

.content-body p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.content-description {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    padding: 15px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
}

.heart {
    width: 27px;
    height: 27px;
    position: relative;
    transform: rotate(-45deg);
    margin: 5px;
    cursor: pointer;
}

.heart::before,
.heart::after {
    content: '';
    width: 27px;
    height: 27px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -14.5px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 14.5px;
}

.heart:hover {
    background-color: #ff002c;
}

.is-liked {
    background: #ff002c;
}

.not-liked {
    background: #e2e9eb;
}

.vote-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.star-rating {
    display: inline-flex;
    font-size: 2rem;
    position: relative;
    direction: ltr;
    white-space: nowrap;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.star-rating label.full {
    color: gold;
}

.star-rating label.half::before {
    content: '★';
    color: gold;
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
}

.average-rating, .count-favorites {
    font-size: 1.2rem;
    white-space: nowrap;
    color: #a7680b;
}

.infopage {
    margin-top: 6em;
}


.comments-container {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-y: auto;
    max-height: 300px;
}

.comments-container h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
    text-align: left;
}

.comment-body {
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-username {
    font-weight: bold;
    font-size: 16px;
    color: #007bff;
}

.comment-date {
    font-size: 12px;
    color: #888;
}

.comment-text {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}

.type-header {
    text-align: center;
    color: white;
}

.comment-form {
    position: relative;
    width: 100%;
    margin-top: 1em;
}

.comment-form textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
}

.comment-form .send-icon {
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
}

.comment-form .send-icon:hover {
    color: #0056b3;
}

.positive-counter {
    color: rgb(54, 180, 54);
}

.negative-counter {
    color: rgb(241, 17, 17)
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc3545; 
    font-size: 16px;
}

.delete-button:hover {
    color: #c82333; 
}

.first-comment {
    text-align: center;
    color: #f19010;
    font-size: 24px;
}

.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007bff; 
    font-size: 16px; 
  }
  
  .edit-button:hover {
    color: #0056b3; 
  }

  .edit-comment-textarea {
    resize: none;
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 1.4;
  }

  .content-details {
    color: #a7680b;
  }
  