#content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 80px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.search-input,
.search-container {
    flex: 1;
}

.search-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-container {
    margin-left: 10px;
}

.search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.search-button:hover {
    background-color: #0056b3;
}

.contents-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 10px);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 30em;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    box-sizing: border-box;
}

.section-content:hover {
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;

}

.upercase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.upercase img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border: 5px solid #ccc;
    max-height: 17em;

}

.content-info {
    display: flex;
    gap: 8px;
}

.infocase {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%;
    margin-bottom: 10px;
}

.content-title p {
    font-size: 20px;
    font-weight: bold;
    color: #101010;
    margin-bottom: 8px;
}

.infocase p {
    font-size: 16px;
    color: #2c2c2c;
    margin: 4px 0;
}

.content-header {
    color: white;
    padding-bottom: 1em;
}
