
.email-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
.email-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
.email-form input,
.email-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    resize: none;
  }
  
.email-form input:focus,
  .email-form textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .email-form textarea:last-of-type {
    height: 10em;
  }
  
  .email-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .email-form button:hover {
    background-color: #0056b3;
  }


  .contactUs, .contactProvide {
    color: #a7680b;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    padding-bottom: 10xp;
    padding-bottom: 10px;
  }

  .contactProvide {
    color: red;
  }
  