.message-box {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(245, 10, 10, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 1000;
    font-size: 22px;
    margin: auto;
    background-color: rgba(241, 240, 240, 0.4);
}