.message-box {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(245, 10, 10, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 1000;
    font-size: 22px;
    margin: auto;
    background-color: rgba(241, 240, 240, 0.4);
}

.config-message {
    position: absolute;
    top: 450%; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(230, 36, 36, 0.8); 
    padding: 10px 20px; 
    border: 1px solid #f31717; 
    border-radius: 5px; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 10; 
    width: 100%;
    text-align: center;
  }

  .config-here {
    color: #acccee;
    text-decoration: underline;
    cursor: pointer;
  }

  .config-here:hover {
    color: #71b9f3;
  }

.confirm {
    background-color: rgb(13, 202, 139);
    border: 1px solid rgb(6, 167, 113); 
}